<template name="navigation">
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu tree" data-widget="tree">
                <li>
                    <a href="{{pathFor 'home'}}">
                        <i class="fa fa-book"></i> <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="{{pathFor 'import'}}">
                        <i class="fa fa-book"></i> <span>Import</span>
                    </a>
                </li>
                <li>
                    <a href="{{pathFor 'rules'}}">
                        <i class="fa fa-book"></i> <span>Rules</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-green">{{nbrRules}}</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{{pathFor 'audit'}}">
                        <i class="fa fa-book"></i> <span>Audit logs parse</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-green">{{nbrAudit}}</small>
                        </span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
</template>
